{% extends 'AppMakup/index.html' %}

{% block contenido %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2></h2>
            </div>
            <div class="col-12">
                <a href="">Acerca de la tienda </a>
                <a href="">StartShopping</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                   
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-text">
                 
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Story Start -->
<div class="story">
    <div class="container">
        <div class="section-header">
            <p>Historia de la compañia</p>
            <h2></h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="story-container">
                    <div class="story-end">
                        <p>Ahora</p>
                    </div>
                    <div class="story-continue">

                        <div class="row story-right">
                            <div class="col-md-6">
                                <p class="story-date">
                                   15 Jun 2021
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Creación de la página oficial</h3>
                                        <p>
                                         Se crea por fin después de un año la página oficial de nuestro negocio, en una plataforma llamada Visual Studio Code. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row story-left">
                            <div class="col-md-6 d-md-none d-block">
                                <p class="story-date">
                                    
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Actualización </h3>
                                        <p>
                                           Se realizan actualizaciones de productos y se dejan de consumir los anteriores para darle prioridad a las nuevas necesidades de nuestros clientes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <p class="story-date">
                                   15 Ene 2021
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="story-year">
                                    <p>2020</p>
                                </div>
                            </div>
                        </div>

                        <div class="row story-right">
                            <div class="col-md-6">
                                <p class="story-date">
                                    02 Dic 2020                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Nuevo</h3>
                                        <p>
                                          La tienda empieza a crecer en el ambito de clientes y productos, debido a esto empezamos a meter más productos de diferentes tipos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row story-left">
                            <div class="col-md-6 d-md-none d-block">
                                <p class="story-date">
                                02 Dic 2020
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Reconocimiento de la página </h3>
                                        <p>
                                       Se empieza a dar a conocer la página gracias a las redes sociales creadas, y gracias a los compradores más frecuentes que fueron recomendando nuestros productos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <p class="story-date">
                                   3 Jul 2020
                                </p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="story-year">
                                    <p>2020</p>
                                </div>
                            </div>
                        </div>

                        <div class="row story-right">
                            <div class="col-md-6">
                                <p class="story-date">
                                  30 Jun 2020
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3></h3>
                                        <p>
                                          La tienda va obteniendo más productos de calidad para sus clientes, ya no solo de cuidado personal, si no también de accesorios para la mujer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row story-left">
                            <div class="col-md-6 d-md-none d-block">
                                <p class="story-date">
                                  01 May 2020
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Adquirición primeros productos</h3>
                                        <p>
                                     Se empiezan a adquirir los primeros productos de la tienda, siendo maquillaje y productos de uso diario como el calzado.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none">
                                <p class="story-date">
                                    13 de Abr 2020
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="story-start">
                        <p>Inicio</p>
                    </div>
                    <div class="story-launch">
                        <div class="story-box">
                            <div class="story-text">
                                <h3>Lanzamiento de la compañia 13 de Abr 2020</h3>
                                <p>
                                   Esto surge a partir del surgimiento de la pandemia, debido al cierre de los negocios en físico, esta tienda es creada para el consumo de los clientes sin tener la necesidad de salir de sus hogares.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}