{% extends 'AppMakup/index.html' %}

{% load static %}

{% block contenido %}

  <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Catálogo</h2>
                        </div>
                        <div class="col-12">
                            
                            <a href="">Productos</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header">
                        <p></p>
                        <h2>Conoce nuestros productos</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                             
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje1.jpg' %}"alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje1.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $200</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje2.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje3.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje3.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje4.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje4.jpg' %}"" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje5.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje5.jpg' %}"class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje6.jpg' %}"alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje6.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje7.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje7.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje8.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje8.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje9.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje9.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $100</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje10.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje10.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $100</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje11.jpg' %}" alt="Portfolio Image">
                                    <a href="{% static 'AppMakup/img/maquillaje11.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $120</a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{% static 'AppMakup/img/maquillaje13.jpg' %}">
                                    <a href="{% static 'AppMakup/img/maquillaje13.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                    <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                    <a class="portfolio-title" href="#">Maquillaje $130</a>
                                </figure>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                            <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis1.jpg' %}"alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis1.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis2.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis3.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis1.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis4.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis4.jpg' %}"" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis5.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis5.jpg' %}"class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis6.jpg' %}"alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis6.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis7.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis7.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis8.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis8.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/tenis9.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/tenis9.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Tenis $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/botas.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/botas.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Botas $400</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/botas2.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/botas2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Botas $400</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/botas3.jpg' %}">
                                        <a href="{% static 'AppMakup/img/botas3.jpg' %}" class="link-preview" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Botas $400</a>
                                    </figure>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de cake $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa2.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de cactus $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa3.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa3.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de cake $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa4.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa4.jpg' %}"class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de cactus $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa5.jpg' %}"alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa5.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de helado $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa6.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa6.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de piña $300</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa7.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa7.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de ardilla $300</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa8.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa8.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de puerquito $300</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa9.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa9.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de cámara $300</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/bolsa10.jpg' %}" alt="Portfolio Image">
                                        <a href="{% static 'AppMakup/img/bolsa10.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Bolsa de casa $350</a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                    <figure>
                                        <img src="{% static 'AppMakup/img/brocha2.jpg' %}">
                                        <a href="{% static 'AppMakup/img/brocha2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                        <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                        <a class="portfolio-title" href="#">Brochas model 1 $120</a>
                                    </figure>
                                </div>
                            </div>
    
    
                            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/brocha3.jpg' %}"alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/brocha3.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Brochas model 2 $150</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/brocha4.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/brocha4.pg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Brochas model 3 $150</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/brocha5.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/brocha5.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Brochas model 4 $120</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/brocha6.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/brocha6.jpg' %}"" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Brochas model 5 $120</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/brocha7.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/brocha7.jpg' %}"class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Brochas model 6 $150</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/vaso.jpg' %}"alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/vaso.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Vaso model 1 $180</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/vaso2.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/vaso2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Vaso model 2 $180</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/reloj.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/reloj.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Reloj model 1 $100</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/reloj2.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/reloj2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Reloj model 2 $100</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item completed">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/reloj3.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/reloj3.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Reloj model 3 $100</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item ongoing">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/stan.jpg' %}" alt="Portfolio Image">
                                            <a href="{% static 'AppMakup/img/stan.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Organizador $150</a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item upcoming">
                                    <div class="portfolio-wrap">
                                        <figure>
                                            <img src="{% static 'AppMakup/img/stan2.jpg' %}">
                                            <a href="{% static 'AppMakup/img/stan2.jpg' %}" class="link-preview" data-lightbox=><i class="fa fa-eye"></i></a>
                                            <a href="#" class="link-details"><i class="fa fa-link"></i></a>
                                            <a class="portfolio-title" href="#">Organizador $145</a>
                                        </figure>
                                    </div>
                                </div>

                    </div>
                    <div class="row">
                        <div class="col-12 load-more">
                            <a class="btn" href="#">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
